
/* Fix for google maps */
#map_canvas img {
	max-width: 9999px;
    margin: 0;
    padding: 0;
	height: 100%;
}


#ajaxLoader{
	padding:4px;
	display:none;
	padding:4px;
	width:32px;
	height:32px;
}

#over_map { 
    position: absolute; 
    top: 15px; 
    left: 15px; 
    z-index: 99;
}

#menuWell{
    width:280px;
}

.myDivider{
    margin-top:1px;
    margin-bottom:1px;
}

.popover{
    /*padding-top:341px;*/
}
.myToolTip{
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 90;
    background-color:black;
    padding:5px;
    border-radius: 5px;
    color:white

}

a.noHover{

padding-right:20px;
}
/* Turn Hovers off on links */
a.noHover:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  font-weight:      inherit;
  background-color: inherit;
  color:            inherit;
  } 
  
a.noHover:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      inherit;
  background-color: inherit;
  color:            inherit;
  } 
  
  a.noHover:visited    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      inherit;
  background-color: inherit;
  color:            inherit;
  } 
  
  a.noHover:active    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      inherit;
  background-color: inherit;
  color:            inherit;
  } 

